/************************
Home Page
*************************/

html, body {
  margin: 0;
  padding: 0;
  background-color: rgba(6,77,149,1.00);

}

.top img{ 
  margin: 0;
  width: 35%;
}

body {
  font-family: Times New Roman: serif;
  font-weight: 100;
}

.main {
  background-color: white;
  padding: 4em 8em;
}

.main h2{
  text-align: center;
  font-family: Garamond;
  margin: 0;
}

.tree p {
  text-align: center;
}

h1 {
  font-weight: bold;
  font-size: 40px; 
  font-family: Trajan: sans-serif;
  margin: 0;
}

.header {
  background-color: white;
}

.header ul {
  list-style: none;
  margin: 0 auto;
  padding: 0;
  background-color: rgba(6,77,149,1.00);
}

.header li {
  vertical-align: middle;
  color: white;
  display:inline-block;
  list-style: none;
  margin: 0 auto;
  padding: 1em;
  text-align: center;
  width: 20%;
  transition-duration: 0.4s;
}

.header li:hover {
  background-color: rgba(118,162,47,1.00);
  transition-duration: 0.4s;
}

.header li p {
  font-size: 15px;
}

.links {
  margin: 0 0 2em 0;
  padding: 0;
  list-style-type: none;
  margin-left: auto;
  background-color: grey;
}

.links li {
  list-style: none;
  display: inline-block;
  padding: 1em;
  margin:0;
}

.top_row {
  vertical-align: top;
  width: 33.33333%;
  vertical-align: bottom;
}

.bottom_row {
  vertical-align: middle;
  width: 50%;
  text-align: center;

}

.links img {
  width: 100%;
  overflow: hidden;
}


.bottom_row img {
  width: 66%;
  vertical-align: top;
}

.img-description {
  display: hidden;
}

.img-description:hover {
  display: inline-block;
  background-color: black;
}

a{
  color:rgba(0,0,0,4);
}

.container {
  position: relative;
  width: 100%;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #008CBA;
}

.container:hover .overlay {
  opacity: 1;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.small {
  width: 66%;
  left: 17%;
  right: 17%;
}

/***********************
Slide Show 
************************/


.slideshow {
  padding: 2em;
  background: black;
}

* {box-sizing:border-box}
body {font-family: Verdana,sans-serif;margin:0}

.mySlides {
  display: block; 
  width: 100%;
  height: 80%;
}

.mySlides img {
  display: inherit;
  max-width: 100%;
  max-height: 80%;
  margin: 0 auto;
  text-align: center;
}

/* Slideshow container */
.slideshow-container {
  max-width: 800px;
  position: relative;
  margin: 0 auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}
/********************************************
footer 
*********************************************/
footer {
  text-align: center;
  background-color: gray;
  margin: 1em auto 0;
  display: block;
  width: 40%;
  padding: 0.5em 1em;
}
.join {
  color:white;
}


/********************************************
Health Providers
*********************************************/

.mom-dad li {
  list-style: none;
  display: inline-block;
  width: 50%;
  margin: 0 auto;
  padding: 0 0.5em;
}

.mom-dad img {
  border-radius: 70%;
  width: 50%;
  display: block;
  margin: 0 auto;
  border: 25px solid grey;
  border-style: double;
}

.page-wrapper {
  width: 80%;
  margin: 0 auto;
  background-color: white;
  display: block;
  padding: 0 2em;
  text-align: center;
}

.faculty {
  list-style-type: none;
  margin-left: auto;
  padding: 0;
}

.faculty li {
  width: 33.333333%;
  list-style: none;
  display: inline-block;
  margin: 0 auto;
  padding: 2em;
 
}

.faculty img {
  width: 100%;
  border-radius: 50%
}

.faculty p {
  width: 100%;
  height: 55%;

}


/*********************************************
Locations page 
*********************************************/

.locations ul img{
  width: 80%;
  margin-top: 100px;
  border:25px solid grey;
}
.locations li{
  display:inline-block;
  width: 50%;
  margin:0;
}

}
.locations p{
  font-weight: lighter;
}
.locations h3{
  font-weight: bold;
}
/*******************************************
Contact and Connect Page 
*******************************************/

/*** map 
*****/ 


/******************************************
About Page 
*******************************************/

.m_d {
  background-color: black;
  text-align: center;
}

.about_info {
  padding: 1em 0 2em;
}

.about_info h3{
font-weight: lighter;
}
.mri_info h3 {
  text-align: left;
}
.mri_info img{
  width: 80%;
  border:40px, solid grey; 
}

.mri_info ul {
  list-style: none;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.mri_info li {
  width: 50%;
  display: inline-block;
  vertical-align: middle;
}

/*****************************************
FAQ
*****************************************/
.FAQ li {
  text-align: left;
  font-size: 30;
}






